// FOOTER VERSION MOBILE
.footer {
    background-color: darken($color: $grey-background, $amount: 65%);
    color: #fff;
    padding: 10px 30px;
    &__oh-my-food {
        font-family: $shrik;
        font-size: 1.2rem;
    }
    &__information {
        display: flex;
        flex-direction: column;
        z-index: 1;
        &__link {
            z-index: 2;
            text-decoration: none;
            color: #fff;
            margin-bottom: 10px;
            font-size: 1.1rem;
            transition: all 100ms linear;
            margin-left: 5px;
            &:hover {
                text-decoration: underline;
            }
            &__icon {
                margin-right: 5px;
            }
        }
    }
}

// FOOTER VERSION DESKTOP ET TABLETTES
@media (min-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__oh-my-food {
            font-size: 1.5rem ;
            margin-bottom: 0;
        }
        &__information {
        width: 85%;
        margin: 40px auto;
        flex-direction: row;
        justify-content: space-around;
        &__link {
            margin-right: 20px;
            }
        }
    } 
}
