@import "variables.scss";

@mixin lighten-black-font($amount-black-lighten:30%) {
    color: lighten($color: #000000, $amount: $amount-black-lighten); 
}


@mixin pastel-darken-font($color: $grey-background, $background-lightness:5%, $color-lightness: 50%) {
    background-color: lighten($color: $color, $amount: $background-lightness) ;
    color: darken($color: $color, $amount: $color-lightness);
}

@mixin dark-box-shadow($color: $grey-background, $amount: 10%, $shadow: 1px 2px 9px){
    box-shadow: $shadow darken($color: $color, $amount: $amount);
}

@mixin light-box-shadow($color: $grey-background, $amount: 10%, $shadow: 1px 2px 9px){
    box-shadow: $shadow lighten($color: $color, $amount: $amount);
}

@mixin new-restaurant {
    align-self: flex-end;
    display: flex;
    align-items: center;
    width: 60px;
    height: 20px;
    padding: 5px 12px;
    border-radius: 2px;
    font-weight: map-get($roboto-weight, bold);
    font-size: 0.9rem;
    text-align: center;
    margin-right: 10px;
    @include pastel-darken-font($color-tertiary, 0, 38%);

}

@mixin basic-svg {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@mixin scale-hover($scale:1.10) {
    transform: scale(1);
    transition: transform 300ms;
    &:hover {
        transform: scale($scale);
    }
}

