@import "./utils/variables.scss";
@import "./utils/mixins.scss";
@import "responsive/accueil-desktop&tab";
// Header ------------------------

.logo-container {
    display: flex;
    justify-content: center;
    &__header-logo {
        width: 150px;
        margin: 10px 0 10px 25px;
    }
}
//  User Location zone
.user-location {
    display: flex;
    justify-content: center;
    background-color: $grey-background;
    box-shadow: inset 0 1px 2px darken($color: $grey-background, $amount: 15%) ;
    @include lighten-black-font;
    &__icon {
        align-self: center;
        margin-right: 20px;
    }
    &__city {
        font-size: 1rem;
        font-weight:map-get($roboto-weight, bold);
    }
}

// Description zone

.homepage-description {
    display: flex;
    flex-direction: column;
    background: $light-grey-background;
    text-align: center;
    padding: 40px 0;
    &__title {
        margin: 0;
        font-size: 1.5rem;
        padding: 0 40px;
        font-weight:map-get($roboto-weight, bolder);
    }
    &__description {
        font-size: 1.1rem;
        padding: 0 15px;
        margin: 10px auto 30px;
        
        @include lighten-black-font(50%);
    }
}

// BLOC OPERATION
.operation {
    margin-left: 15px;
    margin-bottom: 60px;
    &__title {
        font-size: 1.5rem;
    }
    &__block {
        @include pastel-darken-font();
        display: flex;
        align-items: center;
        margin: 30px 15px;
        padding-right: 15px;
        border-radius: 25px;
        height: 75px;
        @include dark-box-shadow;
        &--light-primary {
            @include pastel-darken-font($color-primary, 35%, 0%);
        }
        &__step {
            background-color: $color-primary;
            color: #fff;
            width:15px;
            height: 15px;
            font-size: 12px;
            text-align: center;
            border-radius:50px;
            margin-right: 15px;
            padding: 4px;
            position: relative;
            right: 12px;
        }
        &__description {
            color: #000;
            font-weight:map-get($roboto-weight, bold);
            font-size: 1.1rem;
            margin: 0 15px;
        }
    }

}
// ZONE PRESENTATION RESTAURANTS
.restaurants {
    display: flex;
    flex-direction: column;
    background-color: $light-grey-background;
    padding: 30px 0;
    &__title {
        width: 85%;
        font-size: 1.5rem;
        padding-left: 30px;
        margin-bottom: 0;
    }
    &__container{
        width: 90%;
        margin: auto;
    }
}

// CARTE DE RESTAURANT
.restaurant {
    background-color: white;
    border-radius: 20px;
    margin: 25px 0;
    @include dark-box-shadow;
    @include scale-hover(1.05);
    transition: all 300ms;
    &:hover {
        @include light-box-shadow(#000, 70%, 4px 4px 9px) 
    }
    @media (max-width:768px) {
        &:nth-of-type(1) {
            margin-top: 15px;   
        }
    }
    &--new {
        @include new-restaurant;
     }
    &__link {
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
    }
    &__image {
        display: flex;
        flex-direction: column;
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        &--1 {
            background-image: map-get($la-palette-du-gout, mobile);
        }
        &--2 {
            background-image: map-get($la-note-enchantee, mobile);
        }
        &--3 {
            background-image:map-get($a-la-francaise, mobile);
        }
        &--4 {
            background-image: map-get($le-delice-des-sens,mobile);
        }

        @media (min-width: 992px) {
            &--1 {
                background-image: map-get($la-palette-du-gout, medium);
            }
            &--2 {
                background-image: map-get($la-note-enchantee, medium);
            }
            &--3 {
                background-image:map-get($a-la-francaise, medium);
            }
            &--4 {
                background-image: map-get($le-delice-des-sens,medium);
            }
            
        }
    }

    &__description
    {
        display: flex;
        flex-direction: column;
        flex: 3;
        margin-left: 15px;
        color: #000;
        &__title
        {   
            font-size: 1.2rem;
            margin-bottom: 0;
        }
        &__location {
            font-size: 1rem;
            margin-top: 0;
            margin-bottom: 15px;
        }
    }
}


