@import "./utils/variables";
@import "./utils/mixins";

// Header 
.logo-container {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin-left: 15px;
    &__header-logo {
        width: 180px;
        @include tablettes {width: 250px;}
        margin: 10px 0 10px 25px;
    }
}
//  User Location zone
.user-location {
    display: flex;
    justify-content: center;
    background-color: $grey-background;
    box-shadow: inset 0 1px 2px darken($color: $grey-background, $amount: 15%) ;
    &__form {
        z-index: 2;
        padding: 15px 0;
        &__city {
            z-index: 1;
            width: 130px;
            font-size: 1rem;
            border: none;
            font-weight:map-get($roboto-weight, bold);
            background-color: $grey-background;
            @include lighten-black-font;
            @include tablettes {width: 150px;}
            @include placeholder-location;
            &:focus {
                outline: none;
                font-size: 1rem;
                @include tablettes {font-size: 1.2rem;}
                &::placeholder {
                    opacity: 0;
            }
        }
    }
        &__geoloc {
            z-index: 1;
            border: none;
            font-size: 1rem;
            margin-right: 8px;
            background-color: $grey-background;
            @include lighten-black-font;
            @include tablettes {font-size: 1.1rem;}
            cursor: pointer;
        }
    }
}
// Description zone
.homepage-description {
    display: flex;
    flex-direction: column;
    background: $light-grey-background;
    text-align: center;
    padding: 40px 0;
    &__title {
        margin: 0;
        font-size: 1.5rem;
        padding: 0 40px;
        font-weight:map-get($roboto-weight, bolder);
    }
    &__description {
        font-size: 1.1rem;
        padding: 0 15px;
        margin: 10px auto 30px;
        @include lighten-black-font(50%);
    }
}
// BLOC OPERATION
.operation {
    margin-left: 15px;
    margin-bottom: 60px;
    @include tablettes {
        display: flex;
        flex-wrap: wrap;
        margin-left: 0;
        margin-bottom: 30px;
    }
    &__title {
        font-size: 1.5rem;
        @include tablettes {margin-left: 20px;}
    }
    &__container {
        @include tablettes {
            width: 100%;
            margin-left: 15px;
            display: flex;
        }
    }
    &__block {
        @include pastel-darken-font();
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 30px 15px;
        padding-right: 15px;
        border-radius: 25px;
        height: 75px;
        transform: scale(1);
        @include dark-box-shadow;
        @include tablettes {width: 30%; margin: 30px 25px;}
        transition: all 400ms ease-in-out;
        &:hover {
            @include pastel-darken-font($color-primary, 35%, 0%);
            @include dark-box-shadow($grey-background, 20%);
            transform: scale(1.03);
        }
        &__step {
            background-color: $color-primary;
            color: #fff;
            width:15px;
            height: 14px;
            font-size: 12px;
            text-align: center;
            border-radius:50px;
            margin-right: 15px;
            padding: 4px;
            position: relative;
            right: 12px;
        }
        &__description {
            color: #000;
            font-weight:map-get($roboto-weight, bold);
            font-size: 1.1rem;
            margin: 0 15px;
            @include tablettes {width: 100%;text-align: center;}
        }
    }
}
// ZONE PRESENTATION RESTAURANTS
.restaurants {
    display: flex;
    flex-direction: column;
    background-color: $light-grey-background;
    padding: 30px 0;
    &__title {
        width: 85%;
        font-size: 1.5rem;
        padding-left: 30px;
        margin-bottom: 0;
        @include tablettes {
            width: 90%;
            padding-left: 0;
            align-self: center;
        }
    }
    &__container{
        width: 90%;
        margin: auto;
        @include tablettes {            
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}
// CARTE DE RESTAURANT
.restaurant {
    background-color: white;
    border-radius: 20px;
    margin: 25px 0;
    @include dark-box-shadow;
    @include scale-hover(1.03, 600ms);
    @include tablettes {width: 43%; @include scale-hover(1.05, 600ms);}
    &:hover {
        @include light-box-shadow(#000, 70%, 4px 4px 9px) 
    }
    @media (max-width:768px) {
        &:nth-of-type(1) {
            margin-top: 15px;   
        }
    }
    &--new {
        align-self: flex-end;
        display: flex;
        align-items: center;
        width: 60px;
        height: 20px;
        padding: 5px 12px;
        border-radius: 2px;
        font-weight: map-get($roboto-weight, bold);
        font-size: 0.9rem;
        text-align: center;
        margin-right: 10px;
        @include pastel-darken-font($color-tertiary, 0, 38%);
     }
    &__link {
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
    }
    &__image {
        display: flex;
        flex-direction: column;
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 200px;
        @include basic-img(cover);
        @include restaurant-image-opti(mobile);
        @include tablettes {
            @include restaurant-image-opti(medium)
        }
    }
    &__description
    {
        display: flex;
        flex-direction: column;
        flex: 3;
        margin-left: 15px;
        color: #000;
        &__title
        {   
            font-size: 1.15rem;
            font-weight: map-get($roboto-weight, bolder);
            margin-bottom: 3px;
        }
        &__location {
            font-size: 1.1rem;
            margin-top: 0;
            margin-bottom: 15px;
        }
    }
}


