@import "./utils/variables";
@import "./utils/mixins";

// HEADER AVEC LOGO ET FLECHE DE RETOUR A LA PAGE D'ACCUEIL
.back-to-homepage {
    position: relative;
    background-color: #fff;
    display: flex;
    padding: 15px 20px;
    &__arrow {
        width: 15%;
        @include tablettes{width: 10%;}
        @include scale-hover;   
        margin: auto;
        &__image {
            height: 30px;
            @include tablettes{height: 45px;}
            background-image: $arrow;
            @include scale-hover;
            @include basic-img;
        }
    }
    &__omf-logo{
        width: 90%;
        margin: auto;
        font-family: $shrik;
        font-size: 35px;
        @include tablettes{font-size: 45px;}
        text-align: center;
        @include basic-img;
    }
}
// CONTENU PRINCIPAL DE LA PAGE
.restaurant {
    background-color: $light-grey-background;
    @include tablettes {
        background-color: #fff
    };
    &__img-container{ //conteneur de l'image du restaurant
        @include tablettes {
            display: flex;
            justify-content: center;
            align-items: center;
            max-height: 550px ;
            overflow: hidden;
        }
        &--la-note {
            @include tablettes {
                overflow: hidden;
                max-height: 550px;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            max-height: 350px;
        }
        &__image {
            width: 100%;
            object-fit: contain;
        }
    }
}
.carte { //Contient 80% de la page -> le nom du restaurant, ses menus, le bouton "Commander", et les différents éléments.
    background-color: $light-grey-background;
    border-radius: 50px 50px 0 0;
    position: relative;
    top: -50px;
    padding: 20px;
    @include tablettes {
        width: 80%;
        top: -100px;
        margin: auto;
        border-radius: 50px;
        @include dark-box-shadow;
    }
    @include desktop {
        width: 90%;
        top: -120px;
    }
    &__title {
    display: flex;
    align-items: center;
    &__name{
        flex: 9;
        font-family: $shrik;
        font-size: 1.6rem;
        @include tablettes {
            margin-left: 20px;
        }
    }
    &__love {
        flex: 1;
        height: 30px;
        @include basic-img;
        margin-right: 15px;
        }
    } 
}
.dishes { //conteneur destiné à assembler les parties du menu en colonne, pour le format desktop.
    @include desktop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
.dish-part { //contient les parties du menu, "entrées", "plats", "desserts".
    margin-top: 40px;
    &:nth-of-type(1) {
        margin-top: auto;
    }
    @include tablettes {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: auto;
    }
    @include desktop {
        width: auto;
        margin: 0 10px;

    }
    &__title {
        opacity: 0;
        @include tablettes {text-align: center;}
        @include desktop {margin-bottom: 10px;}
        @include animation(fade, 1000ms, ease-in-out);
        @include cascade-animation(part){               
            margin-bottom: 5px;
            margin-left: 5px; 
            display: flex;
            flex-direction: column;
            @include pastel-darken-font();
            font-weight:map-get($roboto-weight, middle);
            font-size: 1.1rem;
            &::after {
            content:"______";
            position: relative;
            top: -12px;
            color: $color-tertiary;
            }
        }
    }
}
.dish { //contient les blocs des plats
    height: 75px;
    background-color: #fff;
    opacity: 0;
    border-radius: 15px;
    margin: 20px 0;
    @include dark-box-shadow;
    @include tablettes { margin-right: 8px;}
    @include desktop {width: 100%; margin-right: 15px;}
    @include animation(appear, 1000ms, linear);
    @include animation(fade, 2000ms, ease-in-out);
    @include cascade-animation(dish);
    &:nth-of-type(1){
        margin-top: 0;
    }
    &__link {
        height: 100%;
        text-decoration: none;
        color: #000;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__description {
        flex: 10;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 5px;
        &__name {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 1.2rem;
            margin: 5px;
            margin-bottom: 0;
        }
        &__condiments {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 1rem;
            margin: 5px;
            margin-bottom: 0;
        }
    }
    &__price {
        flex: 1;
        font-weight:map-get($roboto-weight, bold);
        align-self: flex-end;
        margin-right: 15px;
        margin-bottom: 10px;
        @include tablettes {
            margin-left: 5px;
        }
    }
    &__validate {
        flex: 0;
        width: 0px ;
        height: 100%;
        background-color: $color-tertiary;
        border-radius: 0 15px 15px 0; 
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 500ms ease-in-out;
        &__icon {
            overflow: hidden;
            color: #fff;
            transition: all 400ms linear;
        }
    }
    &:hover &__validate {
        flex: 3.5;
        height: 100%;
        &__icon {
            background-color: $color-tertiary;
            overflow: visible;
            font-size: 27px;
            @include animation(rotate, 500ms, ease-in-out);
        }
    }
}
.command { //conteneur du bouton "Commander", le bouton en lui-même est décrit dans components/button.
    display: flex;
    justify-content: center;
    margin-top: 65px;
    margin-bottom: 20px ;
    @include tablettes {margin-top: 50px; margin-bottom: 50px;}
    @include animation(fade, 5000ms, ease-in-out);
}