.screen {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: display 2500ms linear 1 ;
    animation-fill-mode: forwards;
    overflow: hidden;
    &__load-spinner {
        position: absolute;
        border: 10px solid $light-grey-background;
        border-top: 15px solid $color-secondary;
        border-bottom: 15px solid $color-primary;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        -webkit-animation: spin 2000ms linear 1;
        -o-animation: spin 2000ms linear 1;
        animation: spin 2000ms linear 1;
        animation-fill-mode: forwards;
    }
    &__omf {
        font-family: $shrik;
        font-size: 1.3rem;
        -webkit-animation: text-visibility 2000ms linear 1;
        -o-animation: text-visibility 2000ms linear 1;
        animation: text-visibility 2000ms linear 1, text-zoom 2000ms linear 1;
        animation-fill-mode: forwards;
    }
}

// Loader animation 

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
        z-index: 12;
        opacity: 100%;
    }

    100% {
        transform: rotate(360deg);
        z-index: 0; 
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        z-index: 12;
        opacity: 100%;
    }

    100% {
        transform: rotate(360deg);
        z-index: 0;
        opacity: 0%;
    }
    
}


@keyframes display{
    0% {
    z-index: 12;
    background-color: white;
    }
    100% {
        z-index: 0;
    } 
}

@keyframes text-visibility {
    0% {
       visibility: visible;
       opacity: 100%;
    }
        100% {
        visibility: hidden; 
        opacity: 0%;
    }  
}

@keyframes text-zoom {
    0% {
       transform: scale(1);
       opacity: 100%;
    }
        50% {
        transform: scale(1.07);
    } 
    100% {
        transform: scale(1);
        opacity: 0%;
    }   
}