// L'utilisateur ne pourra pas scroller pendant le temps de l'animation de chargement de la page.
body {
    @include animation(loading-no-scroll, 3000ms, ease-in-out);
}
// .screen estt la classe qui permet de recouvrir tout le site le temps d'afficher l'animation du loading spinner.
.screen {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @include animation(display, 2500ms, linear);
    overflow: hidden;
    // Le loading spinner et son animation tournoyante "spin" cf. animation-keyframes.scss
    &__load-spinner {
        position: absolute;
        border: 10px solid $light-grey-background;
        border-top: 15px solid $color-secondary;
        border-bottom: 15px solid $color-primary;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        @include animation(spin, 2000ms, linear);
    }
    // Le logo du site à lintérieur du loading spinner et son animation de texte clignotant "text-zoom" cf. animation-keyframes.scss.
    &__omf {
        font-family: $shrik;
        font-size: 1.3rem;
        @include animation(text-visibility, 2000ms, linear);
        @include animation(text-zoom, 2000ms, linear);
    }
}
