@media (min-width:993px) {

    .back-to-homepage {
        &__arrow {
            &__image {
                height: 40px;
            }
        }
    }
    .restaurant {
        background-color: #fff !important;
        &__img-container{
            display: flex;
            justify-content: center;
            align-items: center;
            max-height: 550px !important;
            overflow: hidden;
            &--la-note {
                overflow: hidden;
                max-height: 550px !important;
            }
        }
    } 

    .carte {
        width: 90%;
        top: -120px !important;
        margin: auto;
        border-radius: 50px !important;
        @include dark-box-shadow;
        &__title {
            &__name {
                margin-left: 20px;
            }
        }
    }

    .dishes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .dish-part {
        display: flex;
        flex-direction: column;
        margin-top: 0px !important;
        margin-right: 25px !important;
        &:nth-of-type(3) {
            margin-right: 0px !important;
        }
        &__title {
            margin-bottom: 10px !important;
            text-align: center;
        }
        
    }

    .dish {
        width: 100%;
         margin-right: 15px !important;
        &__price{
            margin-left: 5px !important;
        }
    }

    .command {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}