@import "../_scss/variables.scss";
@import "../_scss/functions.scss";
// Header ------------------------

.logo-container {
    display: flex;
    justify-content: center;
    &__header-logo {
        width: 150px;
        margin: 10px 0 10px 25px;
    }
}
//  User Location zone

.user-location {
    display: flex;
    justify-content: center;
    background-color: $grey-background;
    box-shadow: inset 0 1px 2px darken($color: $grey-background, $amount: 15%) ;
    @include lighten-black-font;
    &__icon {
        align-self: center;
        margin-right: 20px;
    }
    &__city {
        font-weight: $roboto-bold;
    }
}

// Description zone

.homepage-description {
    background: lighten($color: $grey-background, $amount: 5%);
    text-align: center;
    padding: 40px 0;
    &__title {
        margin: 0;
        font-size: 1.7rem;
        padding: 0 40px;
        font-weight: $roboto-black;
    }
    &__description {
        font-size: 1.15rem;
        margin-top: 10px;
        @include lighten-black-font(50%);
    }
}


// BLOC OPERATION

.operation {
    margin-left: 15px;
    margin-bottom: 60px;
    &__block {
        @include pastel-darken-font();
        display: flex;
        align-items: center;
        margin: 30px 10px;
        border-radius: 25px;
        height: 75px;
        @include box-shadow;
        &--light-primary {
            @include pastel-darken-font($color-primary, 35%, 0%);
        }
        &__step {
            background-color: $color-primary;
            color: #fff;
            width:15px;
            height: 15px;
            font-size: 12px;
            text-align: center;
            border-radius:50px;
            margin-right: 15px;
            padding: 4px;
            position: relative;
            right: 12px;
        }
        &__description {
            color: #000;
            font-weight: $roboto-bold;
            font-size: 18px;
            margin-left: 15px;
        }
    }

}
// STYLE CARTE PRESENTATION RESTAURANT
.restaurants {
    background-color: $light-grey-background;
    padding: 30px 25px;
    &__title {
        margin-bottom: 15px;
    }
}
.restaurant {
    background-color: white;
    border-radius: 20px;
    @include box-shadow;
    margin: 25px 0;
    &--new {
        @include new-restaurant;
     }
    &__link {
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
    }
    &__image {
        display: flex;
        flex-direction: column;
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        &--1 {
            background-image: $palette-du-gout-mobile;
        }
        &--2 {
            background-image: $note-enchantee-mobile;
        }
        &--3 {
            background-image:$a-la-francaise-mobile;
        }
        &--4 {
            background-image: $le-delice-des-sens-mobile;
        }

        @media (min-width: 992px) {
            &--1 {
                background-image: $palette-du-gout-medium;
            }
            &--2 {
                background-image: $note-enchantee-medium;
            }
            &--3 {
                background-image:$a-la-francaise-medium;
            }
            &--4 {
                background-image: $le-delice-des-sens-medium;
            }
            
        }
    }

    &__description
    {
        display: flex;
        flex-direction: column;
        flex: 3;
        margin-left: 15px;
        color: #000;
        &__title
        {   
            font-size: 1.2rem;
            margin-bottom: 0;
        }
        &__location {
            font-size: 1rem;
            margin-top: 0;
            margin-bottom: 10px;
        }
    }
    &__love {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        @include basic-svg;
        color: #000;
    }
}

