// Variables de couleurs

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$grey-background: #eaeaea;

// Variables pour le font-weight police Roboto

$roboto-black: 900;
$roboto-bold: 700;
$roboto-light: 300;

